<div class="col-md-3">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Categories
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-unstyled">
            <% Category.all.each do |cat| %>
                <li>
                  <%= check_box_tag(cat.name, cat.id) %>
                  <%= cat.name -%>
                </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Capabilities
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-unstyled">
            <% Capability.all.each do |cap| %>
                <li>
                  <%= check_box_tag(cap.name, cap.id) %>
                  <%= cap.name -%>
                </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
